article#about.section-wrapper.clearfix
    .content-wrapper.mid-vertical-positioning.clearfix
        .col-sm-10.col-md-9.pull-right
            h1.section-title About Concordiat
            .tabpanel.styled-tabs.uniform-height(role="tabpanel")
                ul.nav.nav-tabs(role="tablist", text-hidden-xs="true")
                    li(role="presentation").active
                        a(href="#about-new", aria-controls="about-new", role="tab", data-toggle="tab")
                            i.icon.fa.fa-graduation-cap
                            span New Players
                    li(role="presentation")
                        a(href="#about-alliance", aria-controls="about-alliance", role="tab", data-toggle="tab")
                            i.icon.fa.fa-group
                            span Confederation of xXPIZZAXx
                    li(role="presentation")
                        a(href="#about-null", aria-controls="about-null", role="tab", data-toggle="tab")
                            i.icon.fa.fa-home
                            span Null Security
                .tab-content
                    .tab-pane.fade.in.active#about-new
                        h4 Newbro Friendly
                        p New players, also known as "newbros", are at the core of what Concordiat is all about.
                            | We want to provide you with the best content Eve Online has to offer while helping you
                            | become an amazing combat pilot.
                            | So, from the moment you join us in null sec we provide you with free ships,
                            | free skill books, training classes and an entire corporation dedicated to helping you.
                    .tab-pane.fade.in#about-alliance
                        img(src="http://image.eveonline.com/Alliance/99001561_128.png").pull-right.hidden-xs
                        h4 Confederation of xXPIZZAXx
                        p Concordiat is a member of the Confederation of xXPIZZAXx (or just Pizza).
                            | The culture of Pizza along with many of the other corporations within Pizza is a
                            | perfect match for our own in that we both strive to make sure our members are having fun
                            | and getting the most out of what Eve Online has to offer.
                    .tab-pane.fade.in#about-null
                        h4 Life in Null
                        .col-md-5.embed-responsive.embed-responsive-16by9.hidden-xs
                                iframe.embed-responsive-item(src="https://www.youtube.com/embed/rSYqChwfGB8", allowfullscreen)
                        .col-md-7.col-xs-12
                            p Concordiat makes it's living in null security space and we wouldn't have it any other way.
                                | We have our own systems, stations and starbases and we defend those alongside our
                                | comrades in Pizza.
                            p Our current home is in the region of Delve where we have a steady stream of player
                                | vs player content. From casual, small gang, roams looking to pick a fight to massive
                                | fleet operations aimed at claiming additional systems or defending our existing ones
                                | there is never a lack of content.
