section#apply.section-wrapper.clearfix
    .content-wrapper.clearfix
        .col-sm-10.col-md-9.pull-right(style="padding-bottom: 100px")
            h1 Apply To Concordiat
            p.feature-paragraph
                | If you have additional questions feel free to speak with our recruitment team by joining the channel
                | "CDIAT Pub" in game otherwise you can apply directly in game. Please include a full api in your
                | application.