article#contact.section-wrapper.clearfix
   .content-wrapper.clearfix
      .col-sm-11.col-md-10.pull-right
         h1 Contact
         section.grid.row.clearfix.clearfix-for-2-cols
            .grid-item.col-md-6
               .item-content.clearfix
                  span.icon.fa.fa-comment
                  .text-content
                     h5 CDIAT Pub
                     p CDIAT Pub is our in game recruitment channel that anyone is welcome to join. If you
                        | have any questions feel free to drop by and talk to some of our members.
            .grid-item.col-md-6
               .item-content.clearfix
                  span.icon.fa.fa-graduation-cap
                  .text-content
                     h5 New Players
                     p If you're new to the game and looking for a friendly place to get started then contact one of
                        | our newbro recruiters and they'll get you squared away.
                     ul
                        li SirSoda Dominic
                        li Xena Maricadie
                        li Mobuto
            .grid-item.col-md-6
               .item-content.clearfix
                  span.icon.fa.fa-star
                  .text-content
                     h5 Veteran Players
                     p Been playing for a while and just looking for a new corporation to call home? Feel free to talk
                        | with anyone from our recruitment team about our corp.
                     ul
                        li Aben Sokoln
                        li Xeron Vann
                        li Rabkillz