header.top-header.navbar-fixed-top
    div.container.masthead
         h3.masthead-brand(style="font-family: 'EveOnline'") Concordiat
         nav
             ul.nav.masthead-nav
                 li.active
                     a(href="#lead") Home
                 li
                     a(href="#about") About
                 li
                     a(href="#") Services
                 li
                     a(href="#") Apply