article#intro.section-wrapper.clearfix
    .content-wrapper.clearfix.wow.fadeInDown(data-wow-delay="0.3s")
        .col-sm-10.col-md-9.pull-right
            section.feature-text
                h1 Concordiat is recruiting!
                p Concordiat is a PvP oriented, null sec corporation whose focus is to provide new players with everything they
                    | need to become capable PvP capsuleers.
                p
                    a(href="#about").link-scroll.btn.btn-outline-inverse.btn-lg Learn More