section#left-sidebar
    .logo
        a(href="#intro").link-scroll
            img(src="images/logo.jpg", alt="Concordiat")
    #mobile-menu-icon.visible-xs(onClick="toggle_main_menu();")
        span.glyphicon.glyphicon-th
    ul#main-menu
        li#menu-item-about.menu-item.scroll
            a(href="#about") About
        li#menu-item-services.menu-item.scroll
            a(href="#services") Services
        li#menu-item-contact.menu-item.scroll
            a(href="#contact") Contact
        li#menu-item-apply.menu-item.scroll
            a(href="#apply") Apply

