script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
// Easing - for transitions and effects
script(src='twilli/js/jquery.easing.1.3.js')
// background image strech script
script(src='twilli/js/vegas/jquery.vegas.min.js')
// detect mobile browsers
script(src='twilli/js/detectmobilebrowser.js')
// detect scrolling
script(src='twilli/js/jquery.scrollstop.min.js')
// owl carousel js
script(src='twilli/js/owl-carousel/owl.carousel.min.js')
// lightbox js
script(src='twilli/js/lightbox/js/lightbox.min.js')
// intro animations
script(src='twilli/js/wow/wow.min.js')
// responsive videos
script(src='twilli/js/jquery.fitvids.js')
// Custom functions for this theme
script(src='twilli/js/functions.js')
script(src='twilli/js/initialise-functions.js')