article#services.section-wrapper.clearfix
   .content-wrapper.clearfix
      .col-sm-11.col-md-10.pull-right
         h1 Member Services
         section.grid.row.clearfix.clearfix-for-2-cols
            .grid-item.col-md-6
               .item-content.clearfix
                  span.icon.fa.fa-recycle
                  .text-content
                     h5 Buyback Program
                     p Shipping your stuff back to hi-sec is risky and expensive so we offer a buyback service allowing
                        | you to sell us any salvage or planetary interaction materials you may have right in our home
                        | station.
            .grid-item.col-md-6
               .item-content.clearfix
                  span.icon.fa.fa-university
                  .text-content
                     h5 Training Classes
                     p Eve Online has a lot to offer and we want you to be exposed to as much of it as possible so we
                        | provide weekly training classes covering everything from planetary interaction and
                        | exploration to ship fitting and combat tactics.
            .grid-item.col-md-6
               .item-content.clearfix
                  span.icon.fa.fa-book
                  .text-content
                     h5 Free Skillbooks
                     p All members have access to an extensive skill book program that provides you with access to
                        | almost any skill book free of charge.
            .grid-item.col-md-6
               .item-content.clearfix
                  span.icon.fa.fa-space-shuttle
                  .text-content
                     h5 Free Ships
                     p We offer free entry level ships for our new players for use in everything from ratting and
                        | mining to exploration and pvp.
                        | In addition to the free ships provided by the corp, Test offers its own free ships through
                        | its Test Free program.
