link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", rel="stylesheet")
link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel="stylesheet")
// favicon
link(rel='icon', type='image/png', href='assets/images/other_images/favicon.png')
// vegas bg
link(href='twilli/js/vegas/jquery.vegas.min.css', rel='stylesheet')
// owl carousel css
link(href='twilli/js/owl-carousel/owl.carousel.css', rel='stylesheet')
link(href='twilli/js/owl-carousel/owl.theme.css', rel='stylesheet')
link(href='twilli/js/owl-carousel/owl.transitions.css', rel='stylesheet')
// intro animations
link(href='twilli/js/wow/animate.css', rel='stylesheet')
// font awesome
link(href='twilli/css/font-awesome/css/font-awesome.min.css', rel='stylesheet')
// lightbox
link(href='twilli/js/lightbox/css/lightbox.css', rel='stylesheet')
// styles for this template
link(href='twilli/css/styles.css', rel='stylesheet')
link(href="css/site.css", rel="stylesheet")